.CatGalleryItem {
  width: 300px;
  height: 300px;
  position: relative;
  overflow: hidden;
}

.LoaderWrapper {
  position: absolute;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #eee;
  transition: opacity 0.3s ease-in;
  z-index: 1;
}

.LoaderWrapper.hidden {
  opacity: 0;
  pointer-events: none;
}

.CatGalleryItem_image {
  object-fit: cover;
  opacity: 0;
  transition: opacity 0.3s ease-in, transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.CatGalleryItem_image.visible {
  opacity: 1;
}

.CatGalleryItem_image:hover {
  transform: scale(1.03);
  cursor: zoom-in;
}
